.checkout-header{
    margin-bottom: 24px;
}
.checkout-header__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    font-size: 12px;
    padding-bottom: 16px;
    padding-top: 12px;
}
.container{
    width: 1235px;
    margin: 0 auto;
}
.checkout-header__phone{
    color:#797878;
    font-size: 15px;
}
.checkout-header__button{
    margin-left: 10px;
}
.checkout-header__info {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.checkout-header__phone a {
    color: #221f1f;
    text-decoration: none;
    cursor: pointer;
}
.checkout-header__phone a:hover {
    border-bottom: 1px solid #000;
}
.button_type_link{
    background: none;
    border: none;
    color: #3e77aa;
    cursor: pointer;
    margin: 0;
    text-decoration: none;
}
.button_type_link_text{
    font-size: 15px;
}
.button_type_link_text:hover{
    transition: 0.3s;
    color: deeppink;
}
.pop_up {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 2;
    transform: translateY(-44.5%) scale(0);
    transition: .4s ease-in-out;
}
.pop_up.active {
    transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, 0.568);
}
.pop_up_container{
    display: flex;
    width: 100%;
    height: 100%;
    
}
.pop_up__body{
    margin: auto;
    width: 440px;
    height: 390px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px 25px 25px;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.pop_up__body p{
    color: #221f1f;
    font-size: 30px;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}
.consultation-wrapper{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.consultation-caption{
    font-size: 20px;
}
.call-center__graphic-caption{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 20px;
}
.sellers-wrapper{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.sellers-caption{
    font-size: 20px;
}
.days-wrapper{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.graphic-wrapper{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.call-center__graphic{
    margin-top: 10px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pop_up__window-numbers{
    text-decoration: none;
    font-size: 17px;
    color: #3e77aa;
    cursor: pointer;
}
.pop_up__window-numbers:hover{
    color: deeppink;
    border-bottom: 1px solid deeppink;
}
.pop_up__close{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: lightslategray;
    cursor: pointer;
}
